.todo-enter {
  opacity: 0;
  transform: translateY(20px);
}
.todo-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms, transform 1000ms;
}
.todo-exit {
  opacity: 1;
  height: 373px; /* TodoItemの高さに合わせて調整 */
  overflow: hidden;
  margin-bottom: 16px; /* 必要なら */
  padding: 0 0;
}
.todo-exit-active {
  opacity: 0;
  height: 0;
  margin-bottom: 0;
  padding: 0 0;
  transition: opacity 1000ms, height 1000ms, margin 1000ms, padding 1000ms;
}
